body {
  height: 100%;
  width: 100%;
  background-image: url('../images/sky.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

header img{
  width: 30%;
  padding: 7% 30% 0 30%;
}

.rope1 {
  width: 4%;
  bottom: 45%;
  position: absolute;
  left: 12%;
  overflow: visible;
  z-index: 600;
}
.rope2 {
  width: 4%;
  bottom: 50%;
  position: absolute;
  left: 23%;
  overflow: visible;
  z-index: 600;
}
.rope3 {
  width: 4%;
  bottom: 43%;
  position: absolute;
  right: 10%;
  overflow: visible;
  z-index: 600;
}
.rope4 {
  width: 4%;
  bottom: 50%;
  position: absolute;
  right: 30%;
  overflow: visible;
  z-index: 600;
}

.play {
  width: 20%;
  top: 40%;
  position: absolute;
  left: 10%;
  z-index: 1000;
}
.play:hover {
  width: 19%;
  top: 41%;
  position: absolute;
  left: 11%;
  z-index: 1000;
}


.instructions {
  width: 30%;
  top: 40%;
  position: absolute;
  right: 7%;
  z-index: 900;
}
.instructions:hover {
  width: 29%;
  top: 41%;
  position: absolute;
  right: 8%;
  z-index: 900;
}

.fruit {
  width: 50%;
  height: 100%;
  bottom: 0;
  margin: 0 auto;
  z-index: 1000;
}
.fruit img{
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: 900;

}

.midGround {
  float: left;
  width: 100%;
  overflow: visible;
  position: absolute;
  z-index: 300;
  bottom: 0;
}
.backGround {
  float: right;
  width: 100%;
  position: absolute;
  z-index: 400;
  bottom: 0;

}
.london {
  float: right;
  width: 100%;
  position: absolute;
  z-index: 100;
  bottom: 23%;

}

.thames {
  float: right;
  width: 100%;
  height: 23.5%;
  background-color: #99ccff;
  position: absolute;
  z-index: 90;
  bottom: 0;

}

.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  height: 80%;
  top: 10%;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: solid green 4px;
  z-index: 1000;
  position: absolute;
}
.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
 height: 80%;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
  height: 80%;
}

button{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:   #ffffff;
  border:1px solid #666666;
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}
