#board {
  height: 75%;
  top: 10%;
  width: 45%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  /* border: solid green 4px; */
  z-index: 999;
  position: absolute;
  right: 0px;
  left: 0px; }
  @media (min-width: 320px) and (max-width: 667px) {
    #board {
      height: 55%;
      top: 25%;
      width: 80%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 10px;
      /* border: solid green 4px; */
      z-index: 999;
      position: absolute;
      right: 0px;
      left: 0px; } }

.center {
  margin-top: 2%;
  width: 100%;
  height: 100%; }

.basetile {
  height: 10%;
  position: relative;
  width: 10%;
  display: inline-flex;
  border-radius: 5px;
  box-sizing: content-box; }

.banana {
  background-image: url("../images/banana.svg");
  background-position: center;
  background-repeat: no-repeat; }

/* .banana {
background-image: url('../images/banana.gif');
background-size: cover;
} */
.grapes {
  background-image: url("../images/grapes.svg");
  background-position: center;
  background-repeat: no-repeat; }

.pear {
  background-image: url("../images/pear.svg");
  background-position: center;
  background-repeat: no-repeat; }

.peach {
  background-image: url("../images/peach.svg");
  background-position: center;
  background-repeat: no-repeat; }

.lemon {
  background-image: url("../images/lemon.svg");
  background-position: center;
  background-repeat: no-repeat; }

.greenApple {
  background-image: url("../images/greenApple.svg");
  background-position: center;
  background-repeat: no-repeat; }

.redApple {
  background-image: url("../images/redApple.svg");
  background-position: center;
  background-repeat: no-repeat; }

.orange {
  background-image: url("../images/orange.svg");
  background-position: center;
  background-repeat: no-repeat; }

.strawberry {
  background-image: url("../images/strawberry.svg");
  background-position: center;
  background-repeat: no-repeat; }

.raspberry {
  background-image: url("../images/raspberry.svg");
  background-position: center;
  background-repeat: no-repeat; }

.plumb {
  background-image: url("../images/plumb.svg");
  background-position: center;
  background-repeat: no-repeat; }

.watermelon {
  background-image: url("../images/watermelon.svg");
  background-position: center;
  background-repeat: no-repeat; }

.pineapple {
  background-image: url("../images/pineapple.svg");
  background-position: center;
  background-repeat: no-repeat; }

.blueberry {
  background-image: url("../images/blueberry.svg");
  background-position: center;
  background-repeat: no-repeat; }

.cherry {
  background-image: url("../images/cherry.svg");
  background-position: center;
  background-repeat: no-repeat; }

div.character img {
  float: right;
  width: 10%;
  overflow: visible;
  position: absolute;
  z-index: 300;
  bottom: 0;
  right: 8%;
  display: inline-block; }
  @media (min-width: 320px) and (max-width: 667px) {
    div.character img {
      float: right;
      width: 10%;
      overflow: visible;
      position: absolute;
      z-index: 300;
      bottom: 0;
      right: 1%;
      display: inline-block; } }

.foreGround {
  float: right;
  width: 100%;
  overflow: visible;
  position: absolute;
  z-index: 300;
  bottom: 0; }

.midGround {
  float: left;
  width: 100%;
  overflow: visible;
  position: absolute;
  z-index: 200;
  bottom: 0; }

.backGround {
  float: right;
  width: 100%;
  overflow: visible;
  position: absolute;
  z-index: 100;
  bottom: 0; }

.sun {
  float: right;
  width: 40%;
  height: 50%;
  right: 0;
  overflow: visible;
  position: absolute;
  z-index: 1;
  top: -5%; }

#plus10 {
  position: absolute;
  z-index: 1000;
  top: 43%;
  left: 39%;
  height: 90px;
  background-image: url("../images/plus10.svg");
  background-repeat: no-repeat;
  width: 100%;
  display: none; }

#minus10 {
  position: absolute;
  z-index: 1000;
  top: 43%;
  left: 39%;
  height: 90px;
  background-image: url("../images/minus10.svg");
  background-repeat: no-repeat;
  width: 100%;
  display: none; }

#ready {
  position: absolute;
  z-index: 999;
  top: 43%;
  left: 39%;
  height: 90px;
  background-image: url("../images/ready.svg");
  background-repeat: no-repeat;
  width: 100%;
  display: none; }

#set {
  position: absolute;
  z-index: 999;
  top: 43%;
  left: 39%;
  height: 90px;
  background-image: url("../images/set.svg");
  background-repeat: no-repeat;
  width: 100%;
  display: none; }

#go {
  position: absolute;
  z-index: 999;
  top: 43%;
  left: 39%;
  height: 90px;
  background-image: url("../images/go.svg");
  background-repeat: no-repeat;
  width: 100%;
  display: none; }

#gameOver {
  position: absolute;
  z-index: 999;
  top: 43%;
  left: 29%;
  height: 10%;
  background-image: url(../images/gameOver.svg);
  background-repeat: no-repeat;
  width: 45%;
  display: none; }

#success {
  position: absolute;
  z-index: 999;
  top: 43%;
  left: 34%;
  height: 10%;
  background-image: url(../images/success.svg);
  background-repeat: no-repeat;
  width: 45%;
  display: none; }

.board {
  width: 250px;
  height: 300px;
  left: 3%;
  top: 2%;
  position: absolute;
  z-index: 1000;
  background-image: url(../images/scoreboard.svg);
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 320px) and (max-width: 667px) {
  .board {
    width: 250px;
    height: 191px;
    left: -2%;
    top: 2%;
    position: absolute;
    z-index: 1000;
    background-image: url(../images/scoreboard.svg);
    background-repeat: no-repeat;
    background-position: center; } }
.scoreboard {
  position: absolute;
  top: 0%;
  width: 25%;
  height: 55%;
  left: 0%;
  font-size: 25px;
  color: white;
  font-family: 'digital numbers'; }

.player1 {
  width: 44%;
  border-radius: 5px;
  top: 52.5%;
  left: 27%;
  height: 6%;
  position: relative;
  z-index: 989;
  border: solid brown 1px;
  background-color: lightblue; }

.progressBar {
  border: solid brown 1px;
  background-color: lightblue; }

.player2 {
  width: 0px;
  top: 40%;
  left: 5%;
  height: 6%;
  position: absolute;
  z-index: 989;
  background-color: #feb501; }

.progress-bar {
  top: 160px;
  left: 18%;
  position: relative;
  width: 63.8%;
  height: 5.5%;
  border: 1px solid brown;
  border-radius: 5px; }
  @media (min-width: 320px) and (max-width: 667px) {
    .progress-bar {
      top: 102px;
      left: 28%;
      position: relative;
      width: 43.8%;
      height: 6.5%;
      border: 1px solid brown;
      border-radius: 5px; } }

.progress {
  height: 100%;
  border-radius: 5px;
  background: #feb501;
  -webkit-transition: width .8s;
  transition: width .8s; }

.progress-load {
  width: 0%; }

.progress-bar2 {
  top: 215px;
  left: 18%;
  position: relative;
  width: 63.8%;
  height: 5.5%;
  border: 1px solid brown;
  border-radius: 5px; }
  @media (min-width: 320px) and (max-width: 667px) {
    .progress-bar2 {
      top: 140px;
      left: 27%;
      position: relative;
      width: 44.8%;
      height: 5.5%;
      border: 1px solid brown;
      border-radius: 5px; } }

.progress2 {
  height: 100%;
  border-radius: 5px;
  background: #ffcc00;
  -webkit-transition: width .8s;
  transition: width .8s; }

.progress-load2 {
  width: 0%; }

.speechBubble {
  position: absolute;
  height: 30%;
  width: 20%;
  bottom: 33%;
  right: 6%;
  z-index: 500;
  display: none;
  background-image: url("../images/speech bubble.svg");
  background-position: center;
  background-repeat: no-repeat; }
  @media (min-width: 320px) and (max-width: 667px) {
    .speechBubble {
      position: absolute;
      height: 11%;
      width: 20%;
      bottom: 95px;
      right: 0%;
      z-index: 500;
      display: none;
      background-image: url("../images/speech bubble.svg");
      background-position: center;
      background-repeat: no-repeat; } }

.fruitSpeech {
  position: relative;
  width: 50%;
  height: 50%;
  top: 15%;
  margin: 0 auto;
  z-index: 1000;
  animation: pulse 2s linear infinite;
  display: none; }

@keyframes pulse {
  0% {
    width: 90px; }
  50% {
    width: 100px; }
  100% {
    width: 90px; } }
.stopWatch {
  position: absolute;
  z-index: 900;
  bottom: 5%;
  left: 4%;
  background-image: url(../images/stopwatch.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 300px; }
  @media (min-width: 320px) and (max-width: 667px) {
    .stopWatch {
      position: absolute;
      z-index: 900;
      bottom: 0%;
      left: 0%;
      background-image: url(../images/stopwatch.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 162px;
      height: 153px; } }

.countdown {
  z-index: 999;
  position: relative;
  top: 42%;
  width: 40%;
  left: 27%;
  font-size: 1.4em;
  color: white;
  font-family: 'digital numbers'; }

body {
  height: 100px;
  /* width: 100%; */
  /* position: static; */
  background-image: url(../images/sky.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*# sourceMappingURL=style.css.map */
