@font-face {
    font-family: 'Digital-Numbers';
    src:url('../scss/fonts/Digital-Numbers.ttf.woff') format('woff'),
        url('../scss/fonts/Digital-Numbers.ttf.svg#Digital-Numbers') format('svg'),
        url('../scss/fonts/Digital-Numbers.ttf.eot'),
        url('../scss/fonts/Digital-Numbers.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@import 'partials/board';
@import 'partials/character';
@import 'partials/environment';
@import 'partials/response';
@import 'partials/scoreboard';
@import 'partials/speechBubble';
@import 'partials/stopwatch';

body {
  height: 100vh;
  /* width: 100%; */
  /* position: static; */
  background-image: url(../images/sky.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
