
.board {
  width: 250px;
  height: 300px;
  left: 3%;
  top: 2%;
  position: absolute;
  z-index: 1000;
  background-image: url(../images/scoreboard.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.boardPosition {
  width: 250px;
  height: 300px;
  left: 3%;
  top: 2%;
  position: absolute;
  z-index: 100;
}

.scoreboard {
  position: absolute;
  top: 0%;
  width: 25%;
  height: 55%;
  left: 0%;
  font-size: 25px;
  color: white;
  font-family: 'Digital-Numbers';
}

.player1 {
  width: 44%;
  border-radius: 5px;
  top: 52.5%;
  left: 27%;
  height: 6%;
  position: relative;
  z-index: 989;
  border: solid brown 1px;
  background-color: lightblue;
}

.progressBar{
  border: solid brown 1px;
  background-color: lightblue;

}
.player2 {
  width: 0px;
  top: 40%;
  left: 5%;
  height: 6%;
  position: absolute;
  z-index: 989;
  background-color: #feb501;
}


.progress-bar {
  top: 160px;
  left: 18%;
  position: relative;
  width: 63.8%;
  height: 5.5%;
  border: 1px solid brown;
  border-radius: 5px;
}



.progress {
  height: 100%;
  border-radius: 5px;
  background: #feb501;
  -webkit-transition: width .8s;
  transition: width .8s;
}

.progress-load {
  width: 0%;
}

.progress-bar2 {
  top: 215px;
  left: 18%;
  position: relative;
  width: 63.8%;
  height: 5.5%;
  border: 1px solid brown;
  border-radius: 5px;
}

.progress2 {
  height: 100%;
  border-radius: 5px;
  background: #ffcc00;
  -webkit-transition: width .8s;
  transition: width .8s;
}

.progress-load2 {
  width: 0%;
}
@media only screen
and (min-width : 375px)
and (max-width : 667px)
and (orientation : portrait) {
  .board {
    height: 21% !important;
    left: 5% !important;
    top: 2% !important;
  }
  .boardPosition {
    height: 21% !important;
    left: 5% !important;
    top: 2% !important;
  }
  .progress-bar {
    top: 52% !important;
    left: 19% !important;
    width: 60.8% !important;

  }
  .progress-bar2 {
    top: 64% !important;
    left: 19% !important;
    width: 60.8% !important;
  }
}



@media only screen
and (max-width : 992px){
  .board {
    width: 30%;
    height: 30%;
    left: -1%;
    top: 2%;
    position: absolute;
    z-index: 1000;
    background-image: url(../images/scoreboard.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .boardPosition {
    width: 30%;
    height: 30%;
    left: -1%;
    top: 2%;
    position: absolute;
    z-index: 100;
    background-image: url(../images/scoreboard.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .progress-bar {
    top: 52%;
    left: 28%;
    position: relative;
    width: 43.8%;
    height: 9.5%;
    border: 1px solid brown;
    border-radius: 2px;
  }
  .progress-bar2 {
    top: 68%;
    left: 28%;
    position: relative;
    width: 43.8%;
    height: 9.5%;
    border: 1px solid brown;
    border-radius: 2px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .board {
    width: 20%;
    height: 20%;
    left: 3%;
    top: 0%;
  }
  .boardPosition {
    width: 20%;
    height: 20%;
    left: 3%;
    top: 0%;
  }
  .progress-bar{
    top: 53%;
    left: 18%;
    position: relative;
    width: 61.8%;
  }
  .progress-bar2{
    top: 69%;
    left: 18%;
    position: relative;
    width: 61.8%;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .board {
    width: 23%;
    height: 37%;
    left: 0%;
    top: 2%;
  }
  .boardPosition {
    width: 23%;
    height: 37%;
    left: 0%;
    top: 2%;
  }
  .progress-bar {
      top: 51%;
      left: 23%;
      width: 54%;
  }
  .progress-bar2 {
      top: 68%;
      left: 23%;
      width: 54%;
  }
  .countdown{
    top: 39% !important;
    width: 40% !important;
    left: 29% !important;
    font-size:  0.9em!important;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
  .board {
    width: 216px;
    height: 300px;
    left: 4%;
    top: 0%;
  }
  .boardPosition {
    width: 216px;
    height: 300px;
    left: 4%;
    top: 0%;
  }
  .progress-bar {
    top: 158px;
    left: 18%;
  }
  .progress-bar2{
    top: 201px;
    left: 18%;
  }
}
