
.speechBubble {
  position: absolute;
  height: 30%;
  width: 20%;
  bottom: 33%;
  right: 6%;
  z-index: 500;
  display: none;
  background-image: url('../images/speech bubble.svg');
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 320px) and (max-width: 667px) {
    position: absolute;
    height: 11%;
    width: 20%;
    bottom: 95px;
    right: 0%;
    z-index: 10000;
    display: none;
    background-image: url('../images/speech bubble.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}



.fruitSpeech {
  position: relative;
  width: 50%;
  height: 50%;
  top: 15%;
  margin: 0 auto;
  z-index: 1000;
  animation: pulse 2s linear infinite;
  display: none;
}

@keyframes pulse {
  0%{
    width: 90px;
  }
  50%{
    width: 100px;
  }
  100%{
    width: 90px;
  }
}
@media only screen
and (min-width : 375px)
and (max-width : 667px)
and (orientation : portrait) {
  .speechBubble {
      position: absolute;
      height: 11%;
      width: 16%;
      bottom: 61px;
      right: 2%;
      z-index: 500;
      display: none;
      background-image: url('../images/speech bubble.svg');
      background-position: center;
      background-repeat: no-repeat;
  }
  .fruitSpeech {
      position: relative;
      width: 100%;
      height: 50%;
      top: 15%;
      right: 1px;
      margin: 0 auto;
      z-index: 1000;
      animation: none !important;
      display: none;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .fruitSpeech {
      position: relative;
      /* width: 33%; */
      height: 52%;
      top: 12%;
  }
.speechBubble {
    height: 11% !important;
    /* width: 13%; */
    bottom: 13% !important;
    right: 6% !important;
    z-index: 1000 !important;
}
.center{
      margin-top: 4%;
}
}
